# Project 2
### CS 5/7394 - Applied Machine Learning

- **Due** - March 11 @ 11:59 pm pushed to Github repo
- **Teams** - You can do this project solo or in pairs.  Not 3, not 4 not 5... Max of 2. If a 5394 student pairs with a 7394 student, the pair needs to do the 7394 work.

Below are 6 Kaggle Datasets.  You will choose 1 to work with for this project. 

- [Airfare Prediction Dataset](https://www.kaggle.com/zwartfreak/airline-fare-prediction)
- [Chinese Rest Holiday Dataset](https://www.kaggle.com/holoong9291/chinese-rest-holiday-dataset-2020-to-2022)
- [Jigsaw Toxic Comment Classification Challenge](https://www.kaggle.com/julian3833/jigsaw-toxic-comment-classification-challenge?select=train.csv)
- [Latest Covid 19 Dataset Worldwide](https://www.kaggle.com/sandhyakrishnan02/latest-covid-19-dataset-worldwide)
- [Trains](https://www.kaggle.com/vahidehdashti/machinelearningdatabase-trains?select=trains-original.data)
- [Football Data top 5 Leagues](https://www.kaggle.com/sanjeetsinghnaik/football-data-top-5-leagues)

Merging disparate datasets is a staple of the data exploration process.  Therefore, for which ever data set above that you choose, you will need to independently find **an additional** dataset to merge with your selection.  The only requirement is that it add to the richness of the original dataset. Students in the 7000-level version of the class need to find two additional data sets to merge with the original selection. 

_Note_: If you want to start with a different data set, you need to get Fontenot's OK first.

### Your Tasks

Below, there are cells that provide directions on what to do for the project.  

You can insert as many cells between the ones below as you'd like, but please **Do NOT** change the cells already provided.

### Part 1 - Getting Started

- Import libraries
- Load original Data (which ever one you chose from the provided list) into a data frame. 
- Load your additional data set(s) into a data frame. 
- In a markdown cell, provide a brief description of your the data sets you've chosen to work with.  
- Develop a list of 3 - 4 questions that you hope to be able to answer after the exploration of the data and write them in this section.

### Brief Description and Questions Regarding the Data

The dataset we have decided to use is the [Airfare Prediction Dataset](https://www.kaggle.com/zwartfreak/airline-fare-prediction). Alongisde this, the dataset I have decided to use in relation to our provided dataset is about the air quality in India from the years 2015-2019. This dataset can be found here: [India Air Quality](https://www.kaggle.com/datasets/rohanrao/air-quality-data-in-india). The dataset I have found provides detailed statistics regarding the various Air Qualities across different cities in India. After Reviewing the data, here are a few questions I hope to be able to answer after full exploration of the two datasets:

- Can we create a combination of variables between the two datasets to accurately create an estimate of flight cost?
- Can we predict an accurate flight cost estimate based on the Air Quality Index?
- How does the number of flights contribute to Air Quality Index?

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

flights_df = pd.read_csv('flights.csv')
air_df = pd.read_csv('city_day.csv')

# flights_df.head(10)
air_df.head(10)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
5,Ahmedabad,2015-01-06,NaN,NaN,45.41,38.48,81.50,NaN,45.41,45.76,46.51,5.42,10.83,1.93,NaN,NaN
6,Ahmedabad,2015-01-07,NaN,NaN,112.16,40.62,130.77,NaN,112.16,32.28,33.47,0.00,0.00,0.00,NaN,NaN
7,Ahmedabad,2015-01-08,NaN,NaN,80.87,36.74,96.75,NaN,80.87,38.54,31.89,0.00,0.00,0.00,NaN,NaN
8,Ahmedabad,2015-01-09,NaN,NaN,29.16,31.00,48.00,NaN,29.16,58.68,25.75,0.00,0.00,0.00,NaN,NaN
9,Ahmedabad,2015-01-10,NaN,NaN,NaN,7.04,0.00,NaN,NaN,8.29,4.55,0.00,0.00,0.00,NaN,NaN

### Part 2 - Data Inspection

Write some code to summarize the datasets.  Think about the following questions:
- What type of data is each variable? (think like a data scientist here, not a computer scientist)
- What is the total size of the data sets?
- What time boundaries are there in the dataset?  IOW, what time frame do they span?
- Are there any missing values in any of the variables? 

Do this with Intentionality.  Don't skimp.

In [63]:
#This gets the size of our newly created dataframes
print("Shape of Air::{}".format(air_df.shape))
print("Shape of flights::{}".format(flights_df.shape), '\n')

#This will show us the various datatypes of each variable
print("flights:\n", flights_df.dtypes, "\n\nair:\n", air_df.dtypes, "\n\n")

#Shows us some quick statistics on our data
print("flights:\n", flights_df.describe(), "\n\nair:\n", air_df.describe())

#We want to convert the dates to proper datetime format so we can more easily work with the data
flights_df['datetime'] = pd.to_datetime(flights_df.Date_of_Journey)

#Shows us the span of dates the data covers
print("min year flights: ", min(flights_df.datetime), "max year flights: ", max(flights_df.datetime))
print("min year air: ", min(air_df.Date), "max year air: ", max(air_df.Date))

#
# print(flights_df.value_counts('datetime'))
# print(air_df.value_counts('Date'))

Shape of Air::(29531, 16)
Shape of flights::(10683, 14)

flights:
 Airline                    object
Date_of_Journey            object
Source                     object
Destination                object
Route                      object
Dep_Time                   object
Arrival_Time               object
Duration                   object
Total_Stops                object
Additional Info            object
Price                       int64
Unnamed: 11               float64
Unnamed: 12               float64
datetime           datetime64[ns]
dtype: object

air:
 City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object


flights:
               Price  Unnamed: 11  Unnamed: 12
count  10683.000000          0.0          0.0
mean    9088.064121          NaN          NaN
std     4611.359167          NaN          NaN
min     1760.000000          NaN          NaN
25%     5278.000000          NaN          NaN
50%     8373.000000          NaN          NaN
75%    12374.000000          NaN          NaN
max    79513.000000          NaN          NaN

air:
               PM2.5          PM10            NO           NO2           NOx  \
count  24933.000000  18391.000000  25949.000000  25946.000000  25346.000000
mean      67.450578    118.127103     17.574730     28.560659     32.309123
std       64.661449     90.605110     22.785846     24.474746     31.646011
min        0.040000      0.010000      0.020000      0.010000      0.000000
25%       28.820000     56.255000      5.630000     11.750000     12.820000
50%       48.570000     95.680000      9.890000     21.690000     23.520000
75%       80.590000    149.745000     19.950000     37.620000     40.127500
max      949.990000   1000.000000    390.680000    362.210000    467.630000

                NH3            CO           SO2            O3       Benzene  \
count  19203.000000  27472.000000  25677.000000  25509.000000  23908.000000
mean      23.483476      2.248598     14.531977     34.491430      3.280840
std       25.684275      6.962884     18.133775     21.694928     15.811136
min        0.010000      0.000000      0.010000      0.010000      0.000000
25%        8.580000      0.510000      5.670000     18.860000      0.120000
50%       15.850000      0.890000      9.160000     30.840000      1.070000
75%       30.020000      1.450000     15.220000     45.570000      3.080000
max      352.890000    175.810000    193.860000    257.730000    455.030000

            Toluene        Xylene           AQI
count  21490.000000  11422.000000  24850.000000
mean       8.700972      3.070128    166.463581
std       19.969164      6.323247    140.696585
min        0.000000      0.000000     13.000000
25%        0.600000      0.140000     81.000000
50%        2.970000      0.980000    118.000000
75%        9.150000      3.350000    208.000000
max      454.850000    170.370000   2049.000000
min year flights:  2019-01-03 00:00:00 max year flights:  2019-12-06 00:00:00
min year air:  2015-01-01 max year air:  2020-07-01

In [69]:
# Since our maximum years we are looking at is only 2019,
#   we want to trim our air quality dataframe to just that year
air19_df = air_df
air19_df = air19_df.loc[air19_df['Date'] > '2018-12-31']
air19_df = air19_df.loc[air19_df['Date'] < '2020-01-01']

print("Shape of air::{}".format(air19_df.shape), '\n')
air19_df

Shape of air::(7446, 16)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1461,Ahmedabad,2019-01-01,110.71,NaN,63.03,111.56,100.04,NaN,63.03,80.15,57.12,4.08,32.33,6.93,1474.0,Severe
1462,Ahmedabad,2019-01-02,147.57,NaN,59.56,107.46,129.87,NaN,59.56,47.70,48.23,4.10,32.34,6.99,1246.0,Severe
1463,Ahmedabad,2019-01-03,131.50,NaN,119.68,75.82,88.04,NaN,119.68,55.29,43.25,4.09,32.42,7.00,1719.0,Severe
1464,Ahmedabad,2019-01-04,102.12,NaN,57.92,95.29,54.93,NaN,57.92,69.02,51.71,4.09,32.38,6.98,1264.0,Severe
1465,Ahmedabad,2019-01-05,115.00,NaN,63.86,111.04,61.99,NaN,63.86,86.65,59.25,4.12,32.43,6.97,1127.0,Severe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29343,Visakhapatnam,2019-12-27,51.79,NaN,34.78,48.39,54.01,9.56,1.24,9.01,34.62,6.72,12.41,4.24,101.0,Moderate
29344,Visakhapatnam,2019-12-28,74.53,NaN,4.21,33.50,21.25,9.72,1.21,6.30,42.20,5.58,9.34,2.23,110.0,Moderate
29345,Visakhapatnam,2019-12-29,41.00,NaN,2.37,20.94,13.07,6.78,0.74,6.25,70.48,3.76,12.04,0.71,133.0,Moderate
29346,Visakhapatnam,2019-12-30,44.79,NaN,3.22,35.67,21.58,11.14,1.06,9.71,77.40,4.41,7.69,2.16,NaN,NaN
29347,Visakhapatnam,2019-12-31,52.33,99.33,3.51,33.70,20.78,11.69,1.13,8.44,70.91,4.67,8.70,1.64,92.0,Satisfactory

### Part 3 - Data Description

- Create a data description (data dictionary) for your data sets.
    - Describe each variable
    - If categorical, what levels are present? If the levels are encoded, what do the codes mean?
    - If numeric, provide min, max, median and any other univariate stats you'd like to add in. 
- Where appropriate, provide histograms or other visualizations to characterize each variable.

### Part 4 - Merge the data

Now that you have a better feel for each of your two (or three, for the 7394 students) data sets, it is time to merge them. Describe your strategy for merging the data sets and then actually perform the merge.  

Develop a strategy for verifying that the data is properly merged (hoping and finger-crossing are not valid strategies).

### Part 5 - Explore Bivariate relationships

- Choose a reasoned set of variables to explore further.  You don't have to explore all possible pairs of variables, nor do we want to grade that much.  Choose 7 - 9 variables. One should be a variable that you'd like to predict (target variable) using the others (predictor variables). 
- List your predictor variables
- List your target variable
- Briefly describe why you have chosen these. 

Use any of the available visualizations from Seaborn to explore the relationships between the variables. Explore the relationships among the predictor variables as well as the relationship between each predictor variable and the target variable.  Which of the predictor variables are most strongly related?  Are there any interesting relationships between categorical predictors and numeric predictors?  If there are any dichotomous variables, does that influence any of the relationships? Are the relationships positive or negative? 

Below each plot, you should provide a description and interpretation of the plot.  Make sure to include why the variables in that plot were chosen and what you hope the reader would gain from it as well.